.container1{
    padding-top: 1px;
    padding-bottom: 50px;
    border-radius: 17px;
    width: 500px;
    height: 250px;
    background-color: rgb(219, 238, 254);
    margin: 13% auto;
    transition: all 80ms;
}
.container1 h6{
    text-align: center;
    margin: 10% 10%;
    
}
.b{
    color: black;
    text-align: center;
    margin: 10% 10%;
}
.container1 h4{
    margin-top: 30px;
    text-align: center;
    text-decoration: underline;
}
.container1:hover{
    transform: scale(1.5);

}