*{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
nav{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 1;
    background-color: rgb(4, 4, 145);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 0 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    
}
a{
    text-decoration: none;  
    color: aliceblue;
}

li:hover:not(.homelink){
    background-color: rgb(25, 25, 185);;
}